{% extends 'main/pages/index.html' %}
{% block content %}
<div class="section-password-reset-invalid">
    <div class="password-reset-invalid-container">
        <h2>Password Reset Complete</h2>
        <p>Your password has been successfully reset. You will be redirected to the login page shortly.</p>
    </div>
</div>

<script type="text/javascript">
    setTimeout(function(){
        window.location.href = "{% url 'user-login' %}";
    }, 5000);  // Redirect after 5 seconds
</script>
{% endblock %}