{% extends 'main/pages/index.html' %}
{% load static %}

{% block content %}
<div id="section-update-question">
    <div class="update-question-container">
        <h2>Update Question</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="btn-group">
                <button type="submit" class="btn btn-primary">Update Question</button>
                <a href="{% url 'admin-panel' %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
